.board-container {
  height: 100vh;
  overflow: auto;
  width: 100%;
  background-color: rgb(196, 173, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  height: 70vh;
  overflow: auto;
  width: 70vh;
  background-color: white;
}
.board-row {
  display: flex;
  height: 7vh;
  width: 100%;
  overflow: auto;
  display: flex;
}

.board-row > div {
  width: 10vh;
  border: solid black;
}
